//- this extends the layout.pug file
extends layout

//- allows us to replace the content within the block content in the layout file
block content
  h2 Sales ends in #{h.moment().endOf('day').fromNow()}